<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Wallet Redirection</title>
</head>th:value="${signature}
<body>
<form action="https://api.zaakpay.com/transactD?v=8" method="post" id = 'redirection'>
<p>Please wait.......</p>
<input type="hidden" name="merchantIdentifier"  th:value="${merchantIdentifier}"/>
<input type="hidden" name="orderId" th:value="${orderId}"/>
<input type="hidden" name="returnUrl" th:value="${returnUrl}"/>
<input type="hidden" name="mode" th:value="${mode}"/>
<input type="hidden" name="currency" th:value="${currency}"/>
<input type="hidden" name="amount" th:value="${amount}"/>
<input type="hidden" name="merchantIpAddress" th:value="${merchantIpAddress}"/>
<input type="hidden" name="txnDate" th:value="${txnDate}"/>
<input type="hidden" name="buyerEmail" th:value="${buyerEmail}"/>
<input type="hidden" name="buyerFirstName" th:value="${buyerFirstName}"/>
<input type="hidden" name="buyerLastName" th:value="${buyerLastName}"/>
<input type="hidden" name="buyerAddress" th:value="${buyerAddress}"/>
<input type="hidden" name="buyerCity" th:value="${buyerCity}"/>
<input type="hidden" name="buyerState" th:value="${buyerState}"/>
<input type="hidden" name="buyerCountry" th:value="${buyerCountry}"/>
<input type="hidden" name="buyerPincode" th:value="${buyerPincode}"/>
<input type="hidden" name="buyerPhoneNumber" th:value="${buyerPhoneNumber}"/>
<input type="hidden" name="purpose" th:value="${purpose}"/>
<input type="hidden" name="debitorcredit" th:value="${debitorcredit}"/>
<input type="hidden" name="bankid" th:value="${bankid}"/>
<input type="hidden" name="showMobile" th:value="${showMobile}"/>
<input type="hidden" name="zpPayOption" th:value="${zpPayOption}"/>
<input type="hidden" name="productDescription" th:value="${productDescription}"/>
<input type="hidden" name="txnType" th:value="${txnType}"/>
<input type="hidden" name="checksum" th:value="${checksum}"/>  
</form>
<script type="text/javascript"> document.getElementById("redirection").submit(); </script>
</body>
</html>
