<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Payment Page Encryption</title>
</head>
<!-- <body onload="document.frm1.submit()">  -->
<body>
	<form action="https://secure.grezpay.com/pgui/jsp/merchantpay" name="frm1" method="post" id="redirectForm" >
		<p>Please wait.......</p>
		<input type="hidden" name="APP_ID" th:value="${APP_ID}" /> 
		<input type="hidden" name="ORDER_ID" th:value="${ORDER_ID}" />
		<input type="hidden" name="AMOUNT" th:value="${AMOUNT}" /> 
		<input type="hidden" name="TXNTYPE" th:value="${TXNTYPE}" /> 
		<input type="hidden" name="CUST_NAME" th:value="${CUST_NAME}" /> 
		<input type="hidden" name="CUST_PHONE" th:value="${CUST_PHONE}" /> 
		<input type="hidden" name="CUST_EMAIL" th:value="${CUST_EMAIL}" />
		<input type="hidden" name="PRODUCT_DESC" th:value="${PRODUCT_DESC}" /> 
		<input type="hidden" name="CURRENCY_CODE" th:value="${CURRENCY_CODE}" /> 
		<input type="hidden" name="RETURN_URL" th:value="${RETURN_URL}" /> 
		<input type="hidden" name="HASH" th:value="${HASH}" /> 
		<input type="hidden" name="PAYMENT_TYPE" th:value="${PAYMENT_TYPE}" /> 
		<input type="hidden" name="MOP_TYPE" th:value="${MOP_TYPE}" />
		<input type="hidden" name="UPI" th:value="${UPI}" />
		
	</form>
	<script type="text/javascript"> document.getElementById("redirectForm").submit(); </script> 
</body>
</html>