<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>FreeCharge Encryption</title>
</head>
<!-- <body onload="document.frm1.submit()">  -->
<body>
	<form action="https://checkout.freecharge.in/api/v1/co/pay/init" name="frm1" method="post" id="redirectForm" >
		<p>Client Order Form</p>
		<input type="hidden" name="amount" th:value="${amount}" /> 
		<input type="hidden" name="channel" th:value="${channel}" />
		<input type="hidden" name="furl" th:value="${furl}" /> 
		<input type="hidden" name="merchantId" th:value="${merchantId}" /> 
		<input type="hidden" name="surl" th:value="${surl}" /> 
		<input type="hidden" name="checksum" th:value="${checksum}" /> 
		<input type="hidden" name="merchantTxnId" th:value="${merchantTxnId}" />
		
	</form>
	<script type="text/javascript"> document.getElementById("redirectForm").submit(); </script>
</body>
</html>