<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Payment Page Encryption</title>
</head>
<!-- <body onload="document.frm1.submit()">  -->
<body>
	<form name="frm1" method="post" id="redirectForm" >
		<p>Please wait.......</p>
				
	</form>
	
	<!-- <script type="text/javascript"> document.getElementById("redirectForm").submit(); </script>-->
</body>

<script>
  function onScriptLoad(){
      var config = {
        "root": "",
        "flow": "DEFAULT",
        "data": {
        "orderId": "[[${orderId}]]", /* update order id */
        "token": "[[${token}]]", /* update token value */
        "tokenType": "TXN_TOKEN",
        "amount": "[[${amount}]]" /* update amount */
        },
        "handler": {
          "notifyMerchant": function(eventName,data){
            console.log("notifyMerchant handler function called");
            console.log("eventName => ",eventName);
            console.log("data => ",data);
          } 
        }
      };

      if(window.Paytm && window.Paytm.CheckoutJS){
          window.Paytm.CheckoutJS.onLoad(function excecuteAfterCompleteLoad() {
              // initialze configuration using init method 
              window.Paytm.CheckoutJS.init(config).then(function onSuccess() {
                  // after successfully updating configuration, invoke JS Checkout
                  window.Paytm.CheckoutJS.invoke();
              }).catch(function onError(error){
                  console.log("error => ",error);
              });
          });
      } 
  }
</script>
<script type="text/javascript" crossorigin="anonymous" th:src="${Host}" onload="onScriptLoad();"> </script>
</html>