<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Payment Page Encryption</title>
</head>
<!-- <body onload="document.frm1.submit()">  -->
<body>
	<form action="https://www.cashfree.com/checkout/post/submit" name="frm1" method="post" id="redirectForm" >
		<p>Please wait.......</p>
		<input type="hidden" name="signature" th:value="${signature}" /> 
		<input type="hidden" name="orderNote" th:value="${orderNote}" />
		<input type="hidden" name="orderCurrency" th:value="${orderCurrency}" /> 
		<input type="hidden" name="customerName" th:value="${customerName}" /> 
		<input type="hidden" name="customerEmail" th:value="${customerEmail}" /> 
		<input type="hidden" name="customerPhone" th:value="${customerPhone}" /> 
		<input type="hidden" name="orderAmount" th:value="${orderAmount}" />
		<input type="hidden" name="notifyUrl" th:value="${notifyUrl}" /> 
		<input type="hidden" name="returnUrl" th:value="${returnUrl}" /> 
		<input type="hidden" name="appId" th:value="${appId}" /> 
		<input type="hidden" name="orderId" th:value="${orderId}" /> 
		<input type="hidden" name="paymentOption" th:value="${paymentOption}" /> 
		<input type="hidden" name="upi_vpa" th:value="${upi_vpa}" />
		
	</form>
	<script type="text/javascript"> document.getElementById("redirectForm").submit(); </script>
</body>
</html>