<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Letzpay Page Encryption</title>
</head>
<!-- <body onload="document.frm1.submit()">  -->
<body>
	<form action="https://www.letzPay.com/pgui/jsp/hostedpaymentrequest" name="frm1" method="post" id="redirectForm" >
		<p>Please wait.......</p>
		<input type="hidden" name="PAY_ID" th:value="${PAY_ID}" /> 
		<input type="hidden" name="ENCDATA" th:value="${ENCDATA}" />		
	</form>
	<script type="text/javascript"> document.getElementById("redirectForm").submit(); </script> 
</body>
</html>