<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WL2BMRN');</script>
<!-- End Google Tag Manager -->
<meta charset="UTF-8">
<title>Payment Page Encryption</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CDJ2CSGE95"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CDJ2CSGE95');
</script>
</head>
<!-- <body onload="document.frm1.submit()">  -->
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WL2BMRN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<form th:action="${returnUrl}" name="frm1" method="post" id="redirectForm" >
		<p>Customer Submission Page</p>				
						
		<input type="hidden" name="paymentOption" th:value="${paymentOption}" /> 
		<input type="hidden" name="MerchantorderId" th:value="${MerchantorderId}" /> 
		<input type="hidden" name="orderAmount" th:value="${orderAmount}" /> 
		<input type="hidden" name="VendorOrderId" th:value="${VendorOrderId}" /> 
		<input type="hidden" name="txtDate" th:value="${txtDate}" /> 
		<input type="hidden" name="status" th:value="${status}" /> 
		<input type="hidden" name="signature" th:value="${signature}" /> 		
		<input type="hidden" name="errorCode" th:value="${code}" /> 
		<input type="hidden" name="errorMsg" th:value="${errorMsg}" /> 
		<input type="hidden" name="custName" th:value="${custName}" />
		<input type="hidden" name="custEmail" th:value="${custEmail}" />
		<input type="hidden" name="custPhone" th:value="${custPhone}" />
		<input type="hidden" name="cardNumber" th:value="${cardNumber}" />
		<input type="hidden" name="upiVpa" th:value="${upiVpa}" />
		<input type="hidden" name="walletCode" th:value="${walletCode}" />
		<input type="hidden" name="bankCode" th:value="${bankCode}" /> 	
	</form>
	<script type="text/javascript"> document.getElementById("redirectForm").submit(); </script>
</body>
</html>