<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Payment Page Encryption</title>
</head>
<!-- <body onload="document.frm1.submit()">  -->
<body>
	<form th:action="${pgredirectLink}" name="frm1" method="post" id="redirectForm" >
		<p>Please wait.......</p>

		<input type="hidden" name="merchantId" th:value="${merchantId}" /> 
		<input type="hidden" name="encryptedData" th:value="${encryptedData}" />		
	</form>
	<script type="text/javascript"> document.getElementById("redirectForm").submit(); </script>
</body>
</html>