<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
	<script>(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-WL2BMRN');</script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
	<meta name="robots" content="noindex">
	<title>EazyPaymentz - Make Payment</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600"
		rel="stylesheet">

	<!-- BEGIN: Vendor CSS-->
	<link rel="stylesheet" type="text/css" href="https://demo.eazypaymentz.com/app-assets/vendors/css/vendors.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://demo.eazypaymentz.com/app-assets/vendors/css/forms/select/select2.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://demo.eazypaymentz.com/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css">
	<!-- END: Vendor CSS-->

	<!-- BEGIN: Theme CSS-->
	<link rel="stylesheet" type="text/css" href="https://demo.eazypaymentz.com/app-assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="https://demo.eazypaymentz.com/app-assets/css/bootstrap-extended.css">
	<link rel="stylesheet" type="text/css" href="https://demo.eazypaymentz.com/app-assets/css/colors.css">
	<link rel="stylesheet" type="text/css" href="https://demo.eazypaymentz.com/app-assets/css/components.css">
	<link rel="stylesheet" type="text/css" href="https://demo.eazypaymentz.com/app-assets/css/themes/dark-layout.css">
	<link rel="stylesheet" type="text/css"
		href="https://demo.eazypaymentz.com/app-assets/css/themes/bordered-layout.css">
	<link rel="stylesheet" type="text/css"
		href="https://demo.eazypaymentz.com/app-assets/css/themes/semi-dark-layout.css">

	<!-- BEGIN: Page CSS-->
	<link rel="stylesheet" type="text/css"
		href="https://demo.eazypaymentz.com/app-assets/css/core/menu/menu-types/vertical-menu.css">
	<link rel="stylesheet" type="text/css"
		href="https://demo.eazypaymentz.com/app-assets/css/plugins/forms/form-validation.css">
	<link rel="stylesheet" type="text/css"
		href="https://demo.eazypaymentz.com/app-assets/css/plugins/forms/pickers/form-flat-pickr.css">
	<!-- END: Page CSS-->

	<!-- BEGIN: Custom CSS-->
	<link rel="stylesheet" type="text/css" href="https://demo.eazypaymentz.com/app-assets/css/style.css">
	<!-- END: Custom CSS-->
	<style>
		.err {
			color:red;
			
		}			
		
	</style>

</head>
<body class="vertical-layout vertical-menu-modern 1-column navbar-floating footer-static " data-open="click" data-col="1-column">
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WL2BMRN" height="0" width="0"
			style="display:none;visibility:hidden"></iframe>
	</noscript>
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>

        <div class="content-wrapper container-xxl p-0">

            <div class="content-body">
                <!-- Validation -->

                <section class="invoice-preview-wrapper">

                    <div class="row invoice-preview">
                        <!-- Invoice -->
                        <div class="d-flex justify-content-center align-items-center ">
                            <div class="col-xl-9 col-md-8 col-12">
                                <div class="card invoice-preview-card">
                                    <div class="card-body invoice-padding pb-0">
                                        <!-- Header starts -->
                                        <div class="d-flex justify-content-between flex-md-row flex-column invoice-spacing mt-0">

                                            <div class="mt-md-0 mt-2">
                                                <h4 class="invoice-title">
                                                    Merchant Order Id :: 
                                                    <span class="invoice-number" th:text="${MerchantorderId}"></span>
                                                </h4>
                                                <h4 class="invoice-title">
                                                    PG Order Id :: 
                                                    <span class="invoice-number" th:text="${VendorOrderId}"></span>
                                                </h4>
                                                <div class="invoice-date-wrapper">
                                                    <p class="invoice-date" th:text="${txtDate}"></p>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- Header ends -->
                                    </div>

                                    <hr class="invoice-spacing" />

                                    <!-- Address and Contact starts -->
                                    <div class="card-body invoice-padding pt-0">
                                        <div class="row invoice-spacing">
                                            <div class="col-xl-4 p-0 mt-xl-0 mt-2">
                                                <h6 class="mb-2">Payment Details:</h6>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td class="pe-1">Order Amount:</td>
                                                            <td><span class="fw-bold" th:text="${orderAmount}"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="pe-1">Payment Option:</td>
                                                            <td><span th:text="${paymentOption}"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="pe-1">Status:</td>
                                                            <td><span th:text="${status}"></span></td>
                                                        </tr>
 
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Invoice Description ends -->

                                    <hr class="invoice-spacing" />

                                    <!-- Invoice Note starts -->
                                    <div class="card-body invoice-padding pt-0">
                                        <div class="row">
                                            <div class="col-12">
                                                <span class="fw-bold">Note:</span>
                                                <span>It was a pleasure working with you and your team.  Thank You!</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Invoice Note ends -->
                                </div>
                            </div>
                            <!-- /Invoice -->

                        </div>
                    </div>
                </section>


            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <script src="https://demo.eazypaymentz.com/app-assets/vendors/js/vendors.min.js"></script>
	<!-- BEGIN Vendor JS-->

	<!-- BEGIN: Page Vendor JS-->
	<script src="https://demo.eazypaymentz.com/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
	<script src="https://demo.eazypaymentz.com/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
	<script src="https://demo.eazypaymentz.com/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
	<!-- END: Page Vendor JS-->

	<!-- BEGIN: Theme JS-->
	<script src="https://demo.eazypaymentz.com/app-assets/js/core/app-menu.js"></script>
	<script src="https://demo.eazypaymentz.com/app-assets/js/core/app.js"></script>
	<!-- END: Theme JS-->

	<!-- BEGIN: Page JS-->
	<script src="https://demo.eazypaymentz.com/app-assets/js/scripts/forms/form-validation.js"></script>
	<!-- END: Page JS-->

	<script>
		$(window).on('load', function () {
			if (feather) {
				feather.replace({
					width: 14,
					height: 14
				});
			}
		})
	</script>
</body>
<!-- END: Body-->

</html>