<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IppoPay</title>
    </head>
    <body>       
    <script type="text/javascript" src="https://js.ippopay.com/scripts/ippopay.v1.js"></script>
        <script type="text/javascript">
            var order_id;
            var options = {
                "order_id" : "[[${orderId}]]",
                "public_key" : "[[${publicKey}]]"
            }
            var ipay = new Ippopay(options);
            ipay.open();
            ippopayHandler(response, function (e) {
                if(e.data.status == 'success'){
                    location.replace("https://");
                }
                if(e.data.status == 'failure'){
                    console.log(e.data);
                }
            });
        </script>
    </body>
</html>