<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Customer Request </title>
</head>
<!-- <body onload="document.frm1.submit()">  -->
<body>
	<form th:action="${redirectPage}" name="frm1" method="post" id="redirectForm" >
		<p>Processing .....</p>				
		<input type="hidden" name="customerEmail" th:value="${customerEmail}" />	
		<input type="hidden" name="customerName" th:value="${customerName}" />	
		<input type="hidden" name="customerPhone" th:value="${customerPhone}" /> 		
		<input type="hidden" name="customerid" th:value="${customerid}" />		
		<input type="hidden" name="notifyUrl" th:value="${notifyUrl}" />
		<input type="hidden" name="orderAmount" th:value="${orderAmount}" /> 
		<input type="hidden" name="orderCurrency" th:value="${orderCurrency}" /> 
		<input type="hidden" name="orderid" th:value="${orderId}" />	
		<input type="hidden" name="orderNote" th:value="${orderNote}" /> 
		<input type="hidden" name="signature" th:value="${signature}" />			
	</form>
	<script type="text/javascript"> document.getElementById("redirectForm").submit(); </script>
</body>
</html>